# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

# Ping for all PRs
* @BeatusCrow @Gorein-sec

# Ping when map was changed
/Resources/Prototypes/Maps/** @Ko-mp-otik
/Resources/Maps/** @Ko-mp-otik
