name: Build & Test Debug

on:
  push:
    branches: [ master, staging, stable ]
  merge_group:
  pull_request_target:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ master, staging, stable ]
  workflow_dispatch:

jobs:
  build:
    if: github.actor != 'PJBot' && github.event.pull_request.draft == false
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      # 1. Клонируем код (универсально для всех событий)
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        if: github.event_name == 'pull_request_target'
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: false
          
      - name: Checkout code for non-PR events
        uses: actions/checkout@v4.2.2
        if: github.event_name != 'pull_request_target'
        with:
          token: ${{ secrets.PRIVATE_SUBMODULE_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: false
          
      # 2. Настраиваем приватные подмодули
      - name: Setup private submodules
        env:
          PAT: ${{ secrets.PRIVATE_SUBMODULE_TOKEN }}
        run: |
          if [ -n "$PAT" ]; then
            git config --global url."https://x-access-token:$PAT@github.com".insteadOf "https://github.com"
          fi
          git submodule update --init --recursive || echo "Частичная инициализация подмодулей"
          
      # 3. Обновляем RobustToolbox
      - name: Update RobustToolbox
        run: |
          cd RobustToolbox/
          git submodule update --init --recursive
          
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: 10.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build Project
        run: dotnet build --configuration DebugOpt --no-restore /m

      - name: Run Content.Tests
        run: dotnet test --no-build --configuration DebugOpt Content.Tests/Content.Tests.csproj -- NUnit.ConsoleOut=0

      - name: Run Content.IntegrationTests
        shell: pwsh
        run: |
          $env:DOTNET_gcServer=1
          dotnet test --no-build --configuration DebugOpt Content.IntegrationTests/Content.IntegrationTests.csproj -- NUnit.ConsoleOut=0 NUnit.MapWarningTo=Failed
       
  ci-success:
    name: Build & Test Debug
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: CI succeeded
        run: exit 0
