name: Build & Test Map Renderer

on:
  push:
    branches: [ master, staging, stable ]
  merge_group:
  pull_request_target:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ master, staging, stable ]
  workflow_dispatch:

jobs:
  build:
    if: github.actor != 'PJBot' && github.event.pull_request.draft == false
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      # 1. Клонируем код (разные параметры для PR и push)
      - name: Checkout PR code
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v4.2.2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: false
          
      - name: Checkout current code
        if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.PRIVATE_SUBMODULE_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: false
          
      # 2. Настраиваем приватные подмодули
      - name: Setup private submodules
        env:
          PAT: ${{ secrets.PRIVATE_SUBMODULE_TOKEN }}
        run: |
          [ -n "$PAT" ] && git config --global url."https://x-access-token:$PAT@github.com".insteadOf "https://github.com"
          git submodule update --init --recursive
          
      # 3. Обновляем RobustToolbox
      - name: Update RobustToolbox
        run: |
          cd RobustToolbox/
          git submodule update --init --recursive

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: 10.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build Project
        run: dotnet build Content.MapRenderer --configuration Release --no-restore /m

      - name: Run Map Renderer
        run: dotnet run --project Content.MapRenderer Dev

  ci-success:
    name: Build & Test Debug
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: CI succeeded
        run: exit 0
