name: Test Packaging

on:
  push:
    branches: [ master, staging, stable ]
    paths:
      - '**.cs'
      - '**.csproj'
      - '**.sln'
      - '**.git**'
      - '**.yml'
      - 'RobustToolbox'
      - 'RobustToolbox/**'
  merge_group:
  pull_request_target:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ master, staging, stable ]
    paths:
      - '**.cs'
      - '**.csproj'
      - '**.sln'
      - '**.git**'
      - '**.yml'
      - 'RobustToolbox'
      - 'RobustToolbox/**'
  workflow_dispatch:

jobs:
  build:
    name: Test Packaging
    if: github.actor != 'PJBot' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      # 1. Клонируем код ИЗ PR
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: false
          
      # 2. Настраиваем приватные подмодули
      - name: Setup private submodules
        env:
          PAT: ${{ secrets.PRIVATE_SUBMODULE_TOKEN }}
        run: |
          [ -n "$PAT" ] && git config --global url."https://x-access-token:$PAT@github.com".insteadOf "https://github.com"
          git submodule update --init --recursive || echo "Подмодули частично инициализированы"
          
      # 3. Обновляем RobustToolbox
      - name: Update RobustToolbox
        run: |
          cd RobustToolbox/
          git submodule update --init --recursive

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: 10.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build Packaging
        run: dotnet build Content.Packaging --configuration Release --no-restore /m

      - name: Package server
        run: dotnet run --project Content.Packaging server --platform win-x64 --platform win-arm64 --platform linux-x64 --platform linux-arm64 --platform osx-x64 --platform osx-arm64

      - name: Package client
        run: dotnet run --project Content.Packaging client --no-wipe-release
