name: RGA schema validator
on:
  push:
    branches: [ master, staging, stable ]
  merge_group:
  pull_request_target:
    types: [ opened, reopened, synchronize, ready_for_review ]
  workflow_dispatch:

jobs:
  yaml-schema-validation:
    name: YAML RGA schema validator
    if: github.actor != 'IanComradeBot' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      checks: write
      pull-requests: write
    
    steps:
      # 1. Клонируем код (разные параметры для PR и push)
      - name: Checkout PR code
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v4.2.2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: false
          
      - name: Checkout current code
        if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.PRIVATE_SUBMODULE_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: false
          
      # 2. Настраиваем приватные подмодули
      - name: Setup private submodules
        env:
          PAT: ${{ secrets.PRIVATE_SUBMODULE_TOKEN }}
        run: |
          [ -n "$PAT" ] && git config --global url."https://x-access-token:$PAT@github.com".insteadOf "https://github.com"
          git submodule update --init --recursive
          
      # 3. Обновляем RobustToolbox
      - name: Update RobustToolbox
        run: |
          cd RobustToolbox/
          git submodule update --init --recursive
          
      # 4. Запускаем валидатор (для push всегда, для PR только если есть файлы attributions)
      - name: Validate RGA files for push
        if: github.event_name != 'pull_request_target'
        uses: PaulRitter/yaml-schema-validator@v1
        with:
          schema: Schemas/rga.yml
          path_pattern: .*attributions.ya?ml$
          validators_path: Schemas/rga_validators.py
          validators_requirements: Schemas/rga_requirements.txt
          
      - name: Validate RGA files for PR
        if: github.event_name == 'pull_request_target'
        uses: PaulRitter/yaml-schema-validator@v1
        with:
          schema: Schemas/rga.yml
          path_pattern: .*attributions.ya?ml$
          validators_path: Schemas/rga_validators.py
          validators_requirements: Schemas/rga_requirements.txt
